/*** LAYOUT ***/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
header {
  width: 100%;
  text-align: center;
}
main {
  width: 100%;
}
form {

}
footer {
  width: 100%;
}

/*** END LAYOUT ***/
/*** GENERAL ***/


/*** END GENERAL ***/
